<!DOCTYPE html>
<html>

<head>
  <title>Juoksuklubi</title>
</head>

<body>
    <h1>Juoksuklubi</h1>

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}, id-numerosi on {{ session.user_id }}
  </p>

    <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  <p>
    <a href="/new_item">Uusi ilmoitus</a>
    <a href="/">Omat ilmoitukset</a>

  </p>

  {% else %}
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>

  <p>
    <a href="/register">Luo tunnus</a>
  </p>
  {% endif %}
  <p>
    <a href="/find_item">Hae ilmoituksia</a>
  </p>
  <h2>Ilmoitukset</h2>

    {% for item in items%}
    <p>
    <a href="/item/{{item.id}}">{{item.title}}</a>
    <br />
    Pituus: {{ item.length }} km Tahti: {{ item.pace }} min/km
    </p>
    <hr />
    {%endfor%}

  

</body>

</html>