<!DOCTYPE html>

<html>

<head>
  <title>Ilmoituksen poisto</title>
</head>

<body>
    <h1>Ilmoituksen poisto</h1>
    <p>Ilmoitus: {{ item.title }}</p>
    <p>Haluatko varmasti poistaa ilmoituksen?</p>
  <form action="/remove_item/{{ item.id }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="remove" value="Poista ilmoitus">
    <input type="submit" name="return" value="Takaisin ilmoitukseen">
  </form>
      <p>
        <a href="/">Paluu etusivulle</a>
    </p>
</body>

</html>
