<!DOCTYPE html>

<html>

<head>
  <title>{{ item.title }}</title>
</head>

<body>
    <h1>{{ item.title }}</h1>
      {% if session.user_id == item.user_id %}
  <p>
    <a href="/edit_item/{{ item.id }}">Muokkaa ilmoitusta</a>
    <a href="/remove_item/{{ item.id }}">Poista ilmoitus</a>
  </p>
  {% endif %}
    <p>
        {{item.description}}
    </p>
    <p>
        Matkan pituus: {{item.length}} km
    </p>
    <p>
        Tempo: {{item.pace}} min/km
    </p>
    <h2>Ilmoittautumiset</h2>
    <ul>
      {% for attendance in attendances %}
      <li><a href="/user/{{ item.user_id }}">{{ attendance.username }}</a></li>
      {% else %}
        <li>Kukaan ei ole ilmoittautunut</li>
      {% endfor %}
    </ul>
    {% if session.user_id and session.user_id != item.user_id %}
      {% if not attended %}
        <form action="/create_attendance" method="POST">
          <input type="hidden" name="item_id" value="{{ item.id }}"/>
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
          <input type="submit" value="Liity mukaan" />
        </form>
      {% else %}
        <form action="/cancel_attendance" method="POST">
          <input type="hidden" name="item_id" value="{{ item.id }}">
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
          <input type="submit" value="Peru osallistuminen">
        </form>
      {% endif %}
    {% endif %}
    <p>
        <a href="/">Paluu etusivulle</a>
    </p>
</body>

</html>